@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<li>
    User.Identity.IsAuthenticated = @User.Identity.IsAuthenticated
</li>
<li>
    User.Identity.Name = @User.Identity.Name
</li>
<li>
    User.Identity.AuthenticationType = @User.Identity.AuthenticationType;
</li>