@{
    ViewData["Title"] = "Home Page";
}
<ol class="breadcrumb">
    <li class="breadcrumb-item active">Home</li>
</ol>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<table class="table table-hover">
    <tr>
        <th scope="col">Property</th>
        <th scope="col">Value</th>
    </tr>
    <tr>
        <td scope="row">User.Identity.IsAuthenticated</td>
        <td>@User.Identity.IsAuthenticated</td>
    </tr>
    <tr>
        <td scope="row">User.Identity.Name</td>
        <td>@User.Identity.Name</td>
    </tr>
    <tr>
        <td scope="row">User.Identity.AuthenticationType</td>
        <td>@User.Identity.AuthenticationType</td>
    </tr>
</table>