@{
    ViewData["Title"] = "Privacy Policy";
}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active">Privacy</li>
</ol>
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
