@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    ViewBag.Title = "Buy an Invisible Book";
}

<style>
    .align-items-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>

<form asp-action="ProcessDonation" method="post">
    <div class="card text-white bg-info mb-3" style="max-width: 20;">
        <div class="card-header">Buy an Invisible Book</div>
        <div class="card-body">
            <h4 class="card-title">
                <p class="align-items-center">
                    <img src="~/img/book.webp" alt="Invisible Book" style="width:300px;height:300px;" />
                </p>
                <p>Experience the power of imagination with our latest collection of Invisible Books. Perfect for those who love to read ... between the lines.</p>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" required type="email" value="@User.Identity.Name"
                           placeholder="Your email" aria-label="Your email" aria-describedby="button-addon2" control-id="ControlID-42">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">PLN</span>
                    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" step="1" min="5" required control-id="ControlID-41">
                    <span class="input-group-text">.00</span>
                    <button class="btn btn-primary" type="button" id="button-addon2" control-id="ControlID-43">Button</button>
                </div>
            </h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <table>
        <tr>
            <td>
                <img src="~/img/book.webp" alt="Invisible Book" style="width:300px;height:300px;" />
            </td>
            <td>
                <div>
                    <p>Experience the power of imagination with our latest collection of Invisible Books. Perfect for those who love to read ... between the lines.</p>
                </div>
                <div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" required type="email" value="@User.Identity.Name"
                               placeholder="Your email" aria-label="Your email" aria-describedby="button-addon2" control-id="ControlID-42">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">PLN</span>
                        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" step="1" min="5" required control-id="ControlID-41">
                        <span class="input-group-text">.00</span>
                        <button class="btn btn-primary" type="button" id="button-addon2" control-id="ControlID-43">Button</button>
                    </div>
                </div>
            </td>
        </tr>
    </table>

    @*     <label for="email">Your Email:</label>
    <input id="email" placeholder="email" value="@User.Identity.Name" name="email" type="email" required />
    <label for="amount">Amount (in cents):</label>
    <input id="amount" name="amount" value="1000" type="number" min="500" step="1" required />
    <button type="submit">Donate Now</button> *@
</form>